<ion-view title="Calculadora de Libros">
  <ion-content class="has-header padding">

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Edad"
        ng-model="user.age">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Libros leidos por año"
        ng-model="user.booksPerYear">
      </label>

      <button class="button button-block button-positive"
      ng-click="onCalculateBooks()" ng-disabled="isPendingRequest">
        Calcular
      </button>
    </div>

  </ion-content>
</ion-view>
