<ion-view id="about-view" title="Info">
  <ion-content class="has-header padding">

    <div class="card">
      <div class="item item-divider">
        App
      </div>
      <div class="item item-text-wrap">
        Esto no es un producto de los creadores del libro "<a href="http://www.quelibroleo.com/1001-libros-que-hay-que-leer-antes-de-morir" target="_new">1001 LIBROS QUE HAY QUE LEER ANTES DE MORIR</a>",
        no tenemos nada que ver con ellos, pero al hacer esta pequeña aplicacion juguete estamos haciendo algo
        de marketing gratuito. Todas las imagenes y textos pertenecen a sus respectivos autores.
      </div>
      <div class="item item-divider">
        Codigo fuente
      </div>
      <div class="item item-text-wrap">
        Esta aplicacion usa el stack standard <b>Ionic</b>
        y es un ejemplo de uso de <b>the_country_identity</b> como un <b>servicio web</b>.
        <br>
        <img class="ionic-logo" ng-src="img/ionic.png"/>
        <br>
        La cantidad que viste la calculamos con la siguiente ecuacion:
        <br>
        <b><i>( esperanza_en_tu_pais - tu_edad ) * cantidad_de_libros_po_año</i></b>
      </div>
      <div class="item item-divider">
        Equipo
      </div>
      <div class="item item-text-wrap">
        <img class="alpha-logo" ng-src="img/alphadeville.png"/>
      </div>
    </div>
    <br>
    <br>
    <br>

  </ion-content>
</ion-view>
